<div class="modal-header">
  <h4 class="modal-title">Modal Title</h4>
  <button type="button" class="close" aria-label="Close" p-0
   (click)="activeModal.dismiss('Cross click')">
    <svg class="bi bi-x" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M5.646 5.646a.5.5 0 000 .708l8 8a.5.5 0 00.708-.708l-8-8a.5.5 0 00-.708 0z" clip-rule="evenodd"></path>
      <path fill-rule="evenodd" d="M14.354 5.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"></path>
    </svg>
  </button>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div class="container">
        <div class="form-group">
          <label for="title">title</label>
          <input type="text" 
            class="form-control"
            formControlName="title" />
        </div>
        <div class="form-group">
          <label for="description">description</label>
          <input type="description" class="form-control"
          formControlName="description"/>
        </div>
         <div class="form-group">
          <a class="btn btn-outline-secondary m-2" role="button" (click)="videoFile.click()">Select Video</a>
          <a class="btn btn-outline-secondary m-2" role="button" (click)="imageFile.click()">Select Image</a>
          <a class="btn btn-outline-secondary m-2" role="button" (click)="uploadAllFiles()">Upload Files</a>
          <input style="display: none;" type="file" class="form-control"
           (change)="videoFileChange($event.target.files)" #videoFile/>
          <input style="display: none;" type="file" class="form-control" 
           (change)="imageFileChange($event.target.files)" #imageFile/>
          <div *ngIf="videoSelected" class="mb-2 row align-items-center">
            <div class="col-3"><span>video:</span></div>
            <div class="col-9">
               <ngb-progressbar showValue="true" type="success" [value]="videoUploadInfo.percent"></ngb-progressbar>
            </div>
          </div>
          <div *ngIf="imageSelected" class="mb-2 row align-items-center">
            <div class="col-3"><span>image:</span></div>
            <div class="col-9">
              <ngb-progressbar showValue="true" type="success" [value]="imageUploadInfo.percent"></ngb-progressbar>
            </div>
          </div>
        </div>

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" type="submit"
        [disabled]="!myForm.valid">
        Submit Form
      </button>
    <button (click)="activeModal.dismiss('Close clicked')">
      Close Clicked
    </button>
  </div>
</form>