<div class="videos-container">
    <div class="controller">
        <div class="side-bar">
            <strong>Sorted By</strong>
            <ul>
                <li>updated time</li>
                <li>file size</li>
                <li>scan times</li>
            </ul>
            <strong>history</strong>
            <ul>
                <li>video-1</li>
                <li>video-1</li>
                <li>video-1</li>
            </ul>
        </div>
    </div>
    <div class="video-list">

        <mat-grid-list cols="7" rowHeight="0.8:1" gutterSize="15px">
            <mat-grid-tile *ngFor="let num of [].constructor(30)">
                <mat-card class="video-card">
                    <img mat-card-image src="assets/images/150.png" alt="Photo of a Shiba Inu">
                    <p>video_{{num}}</p>
                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>
    </div>
</div>