.videos-container {
    padding: 5px 10px;
    height: 94%;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.controller {
    flex: 1 0 auto;
    background-color: #f1f1ff;
    padding: 15px 20px;
}

.controller .side-bar {
    height: auto;
    ul {
        list-style-type: none;
        li {
            padding: 5px 0px;
            cursor: pointer;
            &:hover {
                background-color: rgb(61, 51, 51);
            }
        }

    }
}

.video-list {
    flex: 7 0 auto;
    background-color: cadetblue;
    padding: 15px 20px;
}

.video-card {
    width: 150px;
}