<mat-toolbar color='accent' style="height: 6%;" color="primary">
    <span class="nav-logo"><img src="assets/images/logo.png"></span>
    <span class="spacer-1"></span>
    <span class="nav-search">
        <input matInput placeholder="search...">
        <button mat-raised-button>Search</button>
    </span>
    <span class="spacer-2"></span>
    <span>
        <nav class="nav-block">
            <ul>
                <li class="nav-item" routerLink="/home" routerLinkActive="selected">Dashboard</li>
                <li class="nav-item" routerLink="/videos" routerLinkActive="selected">Videos</li>
                <li class="nav-item" routerLink="/images" routerLinkActive="selected">Images</li>
                <li class="nav-item" routerLink="/books" routerLinkActive="selected">Books</li>
            </ul>
        </nav>
    </span>
    <span class="spacer-1"></span>
    <span>
        <img class="avatar" src="assets/images/default_avatar.png">
    </span>
</mat-toolbar>