@mixin button-theme($theme) {
    $multimedia-manager-frontend-primary: map-get($theme, primary);
    $multimedia-manager-frontend-accent: map-get($theme, accent);
    $multimedia-manager-frontend-warn: map-get($theme, warn);

    .nav-logo img {
        width: 30%;
        height: 30%;
        position: relative;
        float: left;
        left: 80px;
    }

    .nav-search {
        width: auto;
    }

    .nav-search input {
        height: 35px;
        width: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        outline: none;
        padding-left: 15px;
    }

    .nav-search button {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 40px;
        // background-color: mat-color($multimedia-manager-frontend-primary,400);
        background-color: #3898ec;
    }

    .nav-block {
        width: auto;
    }

    .nav-block ul {
        list-style-type: none;
    }

    .nav-block li a {
        text-decoration: none;
    }

    .nav-item {
        display: inline-block;
        padding: 14px 25px;
        cursor: pointer;
        color: #000;
    }

    .nav-item:hover {
        background-color: mat-color($multimedia-manager-frontend-primary, 200);
        color:blanchedalmond;
    }

    .selected {
        background-color: mat-color($multimedia-manager-frontend-primary, 800);
        color:blanchedalmond;
    }

    .spacer-1 {
        flex: 1 1 auto;
    }

    .spacer-2 {
        flex: 2 1 auto;
    }

    .avatar {
        vertical-align: middle;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}
