<div class="container">
  <div class="row my-2">
    <div class="col align-self-start">
      <h4>multimedia manager center</h4>
    </div>
    <div class="col align-self-end text-right">
      <a routerLink="/dashboard" class="badge mr-2" 
          [class.badge-primary]="currentContent == 'dashboard'"
          (click)="onSelecteContent('dashboard')">
          <h4>Dashboard</h4>
      </a>
      <a routerLink="/videos" class="badge"
          [class.badge-primary]="currentContent == 'videos'"
          (click)="onSelecteContent('videos')">   
        <h4>videos</h4>
      </a>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>