<div class="contaner">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2>multimedia manager center</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <a routerLink="/dashboard" class="badge mr-2" 
         [class.badge-primary]="currentContent == 'dashboard'"
         (click)="onSelecteContent('dashboard')">
         <h4>Dashboard</h4>
      </a>
      <a routerLink="/videos" class="badge"
         [class.badge-primary]="currentContent == 'videos'"
         (click)="onSelecteContent('videos')">   
        <h4>videos</h4>
      </a>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>